*{
    margin: 0;
}
/* Content header */

.contentHeader{
    width: 100%;
    height: 60px;
    background-color:rgb(22, 22, 241) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentHeader>.contentTittle{
    width: 40%;
    height: 40px;
    *background-color: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentTittle >h1{
    color: white;
}
/*Content Body*/
.contentBody{
    width: 100%;
    height: 896px;
    background-color: rgb(113, 158, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBody>.subContentBoody{
    width: 60%;
    height: 700px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.subContentBoody > .containerSpaceWord{
    width: 90%;
    height: 75px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.containerSpaceWord > .tittleWord{
    width: 90%;
    height: 20px;
    background-color: bisque;
}
.containerSpaceWord > .spaceWord{
    width: 90%;
    height: 35px;
    background-color: bisque;
}
.spaceWord > .spaceShart{
    border-radius: 5px;
    width: 97%;
    height: 25px;
}
.subContentBoody > .containerSelectTranslator{
    width: 50%;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.subContentBoody > .containerButtomTranslate{
    width: 90%;
    height: 40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.containerButtomTranslate > .buttomTranslate{
    width: 90%;
    height: 30px;
    background-color: rgb(13, 6, 238);
    border-radius: 5px;
    color: white;
    border-color: rgb(13, 6, 238);
    cursor: pointer;
}
.subContentBoody > .containerButtomResponse{
    width: 90%;
    height: 40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.containerButtomResponse > .buttomResponse{
    width: 90%;
    height: 30px;
    background-color: rgb(233, 233, 238);
    border-radius: 5px;
    border-color: aliceblue;
    cursor: pointer;
}
.subContentBoody > .containerTittleCategory{
    width: 90%;
    height: 40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.containerTittleCategory > .tittleCategory{
    width: 90%;
    height: 35px;
    background-color: bisque;
    display: flex;
    align-items: center;
}
.subContentBoody > .containerSelectCategory{
    width: 90%;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerSelectCategory > .category{
    width: 15%;
    height: 35px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}